$black: #1B1D1F;
$greybrown: #545454;
$red: #ee0000;
$amber: #FFBA00;
$warning: #6F2621;
$brigthorange: mix($amber,$red);
$orange: mix($brigthorange,$greybrown,60%);
$green: #4A8503;
$lightblue: #CCE7F2;
$midblue: #0082BC;
$midteal: #00A3E0;
$blue: #073459;
$darkblue: #041B30;
$lightgrey: #BBC2C7;
$midgrey: #646464;
$darkgrey: #333;
$pink: #9B69A9;
$purewhite: #FFF;
$brightwhite: #F2F2F2;
$white: #EEE;
$offwhite: #DDD;
$darkwhite: #CCC;
$lightgreybrown: mix($greybrown,$purewhite, 60%);