$black: #1b1d1f;
$greybrown: #545454;
$red: #ee0000;
$amber: #ffba00;
$warning: #6f2621;
$brigthorange: mix($amber, $red);
$orange: mix($brigthorange, $greybrown, 60%);
$green: #4a8503;
$lightblue: #cce7f2;
$midblue: #0082bc;
$midteal: #00a3e0;
// $blue: #073459;
$blue: tomato;
$darkblue: #041b30;
$lightgrey: #bbc2c7;
$midgrey: #646464;
$darkgrey: #333;
$pink: #9b69a9;
$purewhite: #fff;
$brightwhite: #f2f2f2;
$white: #eee;
$offwhite: #ddd;
$darkwhite: #ccc;
$lightgreybrown: mix($greybrown, $purewhite, 60%);
