//import core
@import './core/anim.scss';
@import './core/behavior.scss';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body{
    display: block;
    min-width: 800px;
    min-height: 375px;
    font-family: $roboto;
    font-size: 0;
    margin: 0;
    padding: 0;
    color: $black;
    background-color: $darkwhite;
    overflow-x: hidden;
    overflow-y: auto;
}

::selection{
    background: $blue;
    color: $purewhite;
    text-shadow: none;
}